@{
    ViewBag.Title = "CHART - HOME";
    Layout = null;
}

<link href="~/Content/TreeView/TreeView.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3">
        <div>
            <h3 class="text-danger">COMPONENTS</h3>
            <ul class="tree">
                <li><Link to="/imageverification">Imge Verification</Link></li>
                <li><Link to="/scrollbar">ScrollBar</Link></li>
                <li><Link to="/charts">Charts</Link></li>
                <li><Link to="/pagination">Pagiation</Link></li>
                <li><Link to="/tablepagination">TablePagination</Link></li>
            </ul>
        </div>
    </div>
</div>