@{
    ViewBag.Title = "d3.js Charts";
}

<div class="jumbotron" style="padding-bottom:1%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-success"><b>d3.js Charts</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                <div>
                    <a class="btn btn-success btn-sm" href="https://www.d3-graph-gallery.com" target="_blank">OFFICIAL SITE</a>
                </div>
                <p>
                    D3.js graph gallery is a collection of simple charts made with d3.js.
                    D3.js is a JavaScript library for manipulating documents based on data. This gallery displays hundreds of chart, always providing reproducible & editable source code. If you're new to javascript and web development, this online course is probably the place to start.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-danger">d3.js Chart Library</h3>
                <ul class="tree">
                    <li><a target="_blank" href="@Url.Action("BarChart","d3Chart")">Bar Chart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
