@{
    ViewBag.Title = "MapChart";
    Layout = "~/Views/Shared/_d3ChartLayout.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Map Chart
            </div>
            <div class="card-body text-center">
                <!-- Create an element where the map will take place -->
                <svg id="my_dataviz" width="500" height="500"></svg>
            </div>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

<script>
    // The svg
    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    // Map and projection
    var projection = d3.geoNaturalEarth()
        .scale(width / 1.3 / Math.PI)
        .translate([width / 2, height / 2])

    // Load external data and boot
    d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson", function (data) {

        // Draw the map
        svg.append("g")
            .selectAll("path")
            .data(data.features)
            .enter().append("path")
            .attr("fill", "#69b3a2")
            .attr("d", d3.geoPath()
                .projection(projection)
            )
            .style("stroke", "#fff")
    })
</script>