@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Column Chart";
    Layout = "~/Views/Shared/_HighChartLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Column Chart
            </div>
            <div class="card-body">
                @(Model)
            </div>
        </div>
    </div>
</div>
