@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Highcharts Examples";
    Layout = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="jumbotron">
    <h3>DotNet Highcharts Example in Asp.Net MVC</h3>
    <p><a href="http://dotnet.highcharts.com/" class="btn btn-primary btn-lg">Learn more »</a></p>
</div>

<div class="row">
    <div>

        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>
</div>
<script src="~/Content/Highcharts/js/highcharts.js"></script>
