@{
    ViewBag.Title = "HighCharts";
}

<div class="jumbotron" style="padding-bottom:1%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-danger">High Chart Library</h3>
                <ul class="tree">
                    <li><a target="_blank" href="@Url.Action("ColumnChart","HighChart")">Column Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("BarnChart","HighChart")">Bar Chart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
