@{
    ViewBag.Title = "BarChart";
    Layout = "~/Views/Shared/_FusionChartLayout.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Bar Chart
            </div>
            <div class="card-body">
                <div id="chart-container" style="height:500px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const dataSource = {
        chart: {
            caption: "Lead sources by industry",
            yaxisname: "Number of Leads",
            aligncaptionwithcanvas: "0",
            plottooltext: "<b>$dataValue</b> leads received",
            theme: "fusion"
        },
        data: [
            {
                label: "Travel & Leisure",
                value: "41"
            },
            {
                label: "Advertising/Marketing/PR",
                value: "39"
            },
            {
                label: "Other",
                value: "38"
            },
            {
                label: "Real Estate",
                value: "32"
            },
            {
                label: "Communications/Cable/Phone",
                value: "26"
            },
            {
                label: "Construction",
                value: "25"
            },
            {
                label: "Entertainment",
                value: "25"
            },
            {
                label: "Staffing Firm/Full Time/Temporary",
                value: "24"
            },
            {
                label: "Transportation/Logistics",
                value: "23"
            },
            {
                label: "Utilities",
                value: "22"
            },
            {
                label: "Aerospace/Defense Products",
                value: "18"
            },
            {
                label: "Banking/Finance/Securities",
                value: "16"
            },
            {
                label: "Consumer Products - Non-Durables",
                value: "15"
            },
            {
                label: "Distribution",
                value: "13"
            },
            {
                label: "Education",
                value: "12"
            },
            {
                label: "Health Products & Services",
                value: "11"
            },
            {
                label: "Hospitality & Hotels",
                value: "10"
            },
            {
                label: "Non-Business/Residential",
                value: "6"
            },
            {
                label: "Pharmaceutical",
                value: "4"
            },
            {
                label: "Printing & Publishing",
                value: "1"
            },
            {
                label: "Professional Services",
                value: "1"
            },
            {
                label: "VAR/ISV",
                value: "1"
            },
            {
                label: "Warranty Administrators",
                value: "1"
            }
        ]
    };

    FusionCharts.ready(function () {
        var myChart = new FusionCharts({
            type: "bar2d",
            renderAt: "chart-container",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource
        }).render();
    });
</script>