@{
    ViewBag.Title = "DonutChart";
    Layout = "~/Views/Shared/_FusionChartLayout.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Donut Chart
            </div>
            <div class="card-body">
                <div id="chart-container" style="height:500px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const dataSource = {
        chart: {
            caption: "Android Distribution for our app",
            subcaption: "For all users in 2017",
            showpercentvalues: "1",
            defaultcenterlabel: "Android Distribution",
            aligncaptionwithcanvas: "0",
            captionpadding: "0",
            decimals: "1",
            plottooltext:
                "<b>$percentValue</b> of our Android users are on <b>$label</b>",
            centerlabel: "# Users: $value",
            theme: "fusion"
        },
        data: [
            {
                label: "Ice Cream Sandwich",
                value: "1000"
            },
            {
                label: "Jelly Bean",
                value: "5300"
            },
            {
                label: "Kitkat",
                value: "10500"
            },
            {
                label: "Lollipop",
                value: "18900"
            },
            {
                label: "Marshmallow",
                value: "17904"
            }
        ]
    };

    FusionCharts.ready(function () {
        var myChart = new FusionCharts({
            type: "doughnut2d",
            renderAt: "chart-container",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource
        }).render();
    });

</script>