@{
    ViewBag.Title = "LineChart";
    Layout = "~/Views/Shared/_FusionChartLayout.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Line Chart
            </div>
            <div class="card-body">
                <div id="chart-container" style="height:500px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const dataSource = {
        chart: {
            caption: "Average Fastball Velocity",
            yaxisname: "Velocity (in mph)",
            subcaption: "[2005-2016]",
            numbersuffix: " mph",
            rotatelabels: "1",
            setadaptiveymin: "1",
            theme: "fusion"
        },
        data: [
            {
                label: "2005",
                value: "89.45"
            },
            {
                label: "2006",
                value: "89.87"
            },
            {
                label: "2007",
                value: "89.64"
            },
            {
                label: "2008",
                value: "90.13"
            },
            {
                label: "2009",
                value: "90.67"
            },
            {
                label: "2010",
                value: "90.54"
            },
            {
                label: "2011",
                value: "90.75"
            },
            {
                label: "2012",
                value: "90.8"
            },
            {
                label: "2013",
                value: "91.16"
            },
            {
                label: "2014",
                value: "91.37"
            },
            {
                label: "2015",
                value: "91.66"
            },
            {
                label: "2016",
                value: "91.8"
            }
        ]
    };

    FusionCharts.ready(function () {
        var myChart = new FusionCharts({
            type: "line",
            renderAt: "chart-container",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource
        }).render();
    });
</script>