@{
    ViewBag.Title = "MarketShareChart";
    Layout = "~/Views/Shared/_FusionChartLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple MarketShare Chart
            </div>
            <div class="card-body">
                <div id="chartContainer">@Html.Raw(ViewData["Chart"])</div>
            </div>
        </div>
    </div>
</div>