@{
    ViewBag.Title = "ParetoChart";
    Layout = "~/Views/Shared/_FusionChartLayout.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Pareto Chart
            </div>
            <div class="card-body">
                <div id="chart-container" style="height:500px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const dataSource = {
        chart: {
            caption: "Late arrivals by reported cause",
            subcaption: "Last month",
            pyaxisname: "No. of Occurrence",
            theme: "fusion",
            showsecondarylimits: "0",
            showdivlinesecondaryvalue: "0",
            plottooltext:
                "Due to $label, late arrivals count is : <b>$dataValue</b> of the total <b>$sum</b> employees",
            drawcrossline: "1"
        },
        data: [
            {
                label: "Traffic",
                value: "5680"
            },
            {
                label: "Family Engagement",
                value: "1036"
            },
            {
                label: "Public Transport",
                value: "950"
            },
            {
                label: "Weather",
                value: "500"
            },
            {
                label: "Emergency",
                value: "140"
            },
            {
                label: "Others",
                value: "68"
            }
        ]
    };

    FusionCharts.ready(function () {
        var myChart = new FusionCharts({
            type: "pareto2d",
            renderAt: "chart-container",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource
        }).render();
    });
</script>