@{
    ViewBag.Title = "PieChart";
    Layout = "~/Views/Shared/_FusionChartLayout.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Pie Chart
            </div>
            <div class="card-body">
                <div id="chart-container" style="height:500px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const dataSource = {
        chart: {
            caption: "Market Share of Web Servers",
            plottooltext: "<b>$percentValue</b> of web servers run on $label servers",
            showlegend: "1",
            showpercentvalues: "1",
            legendposition: "bottom",
            usedataplotcolorforlabels: "1",
            theme: "fusion"
        },
        data: [
            {
                label: "Apache",
                value: "32647479"
            },
            {
                label: "Microsoft",
                value: "22100932"
            },
            {
                label: "Zeus",
                value: "14376"
            },
            {
                label: "Other",
                value: "18674221"
            }
        ]
    };

    FusionCharts.ready(function () {
        var myChart = new FusionCharts({
            type: "pie2d",
            renderAt: "chart-container",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource
        }).render();
    });
</script>