@{
    ViewBag.Title = "StackedChart";
    Layout = "~/Views/Shared/_FusionChartLayout.cshtml";
}

<div  class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Simple Stacked Chart
            </div>
            <div class="card-body">
                <div id="chartContainer">@Html.Raw(ViewData["Chart"])</div>
            </div>
        </div>
    </div>
</div>