@{
    ViewBag.Title = "CombinedChart";
    Layout = "~/Views/Shared/_chartjs.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Bar Chart
            </div>
            <div class="card-body">
                <canvas id="chartBar" style="height: 300px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Area Chart
            </div>
            <div class="card-body">
                <canvas id="chartArea" style="height: 300px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row pt-3 px-4 mb-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Pie Chart
            </div>
            <div class="card-body">
                <canvas id="chartPie" style="height: 300px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Line Chart
            </div>
            <div class="card-body">
                <canvas id="chartLine" style="height: 300px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    new Chart(document.getElementById("chartBar"),
        {
            "type": "bar",
            "data":
            {
                "labels":
                    ["January", "February", "March", "April", "May", "June", "July"],
                "datasets": [{
                    "label": "My First Dataset",
                    "data": [65, 59, 80, 81, 56, 55, 40],
                    "fill": false,
                    "backgroundColor": ["rgba(255, 99, 132, 0.2)",
                        "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 205, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(201, 203, 207, 0.2)"
                    ],
                    "borderColor": [
                        "rgb(255, 99, 132)",
                        "rgb(255, 159, 64)",
                        "rgb(255, 205, 86)",
                        "rgb(75, 192, 192)",
                        "rgb(54, 162, 235)",
                        "rgb(153, 102, 255)",
                        "rgb(201, 203, 207)"
                    ],
                    "borderWidth": 1
                }]
            }, "options": { "scales": { "yAxes": [{ "ticks": { "beginAtZero": true } }] } }
        });

    new Chart(document.getElementById("chartArea"), {
        "type": "bar",
        "data": {
            "labels": ["January", "February", "March", "April"],
            "datasets": [{
                "label": "Bar Dataset",
                "data": [10, 20, 30, 40],
                "borderColor": "rgb(255, 99, 132)",
                "backgroundColor": "rgba(255, 99, 132, 0.2)"
            }, {
                "label": "Line Dataset",
                "data": [50, 50, 50, 50],
                "type": "line",
                "fill": false,
                "borderColor": "rgb(54, 162, 235)"
            }]
        },
        "options": {
            "scales": {
                "yAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("chartLine"),
        {
            "type": "line", "data":
            {
                "labels":
                    ["January", "February", "March", "April", "May", "June", "July"],
                "datasets": [{
                    "label": "My First Dataset",
                    "data": [65, 59, 80, 81, 56, 55, 40],
                    "fill": false,
                    "borderColor": "rgb(75, 192, 192)",
                    "lineTension": 0.1
                }]
            }, "options": {}
        });

    new Chart(document.getElementById("chartPie"), {
        "type": "doughnut",
        "data": {
            "labels": ["Red", "Blue", "Yellow"],
            "datasets": [{
                "label": "My First Dataset",
                "data": [300, 50, 100],
                "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
            }]
        }
    });
</script>