@{
    ViewBag.Title = "Doughnut Chart";
    Layout = "~/Views/Shared/_chartjs.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Simple Doughnut Chart
            </div>
            <div class="card-body">
                <canvas id="myChart" height="150"></canvas>
            </div>
        </div>
    </div>
</div>


<script>
    new Chart(document.getElementById("myChart"), {
        "type": "doughnut",
        "data": {
            "labels": ["Red", "Blue", "Yellow"],
            "datasets": [{
                "label": "My First Dataset",
                "data": [300, 50, 100],
                "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
            }]
        }
    });
</script>