@{
    ViewBag.Title = "MixedChart";
    Layout = "~/Views/Shared/_chartjs.cshtml";
}

<div class="row pt-3 px-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Simple Mixed Chart
            </div>
            <div class="card-body">
                <canvas id="myChart" height="100"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    new Chart(document.getElementById("myChart"),
        {
            "type": "bar",
            "data":
            {
                "labels": ["January", "February", "March", "April"],
                "datasets": [{
                    "label": "Bar Dataset",
                    "data": [10, 20, 30, 40],
                    "borderColor": "rgb(255, 99, 132)",
                    "backgroundColor": "rgba(255, 99, 132, 0.2)"
                }, {
                    "label": "Line Dataset",
                    "data": [50, 50, 50, 50],
                    "type": "line",
                    "fill": false,
                    "borderColor": "rgb(54, 162, 235)"
                }]
            }, "options": {
                "scales":
                {
                    "yAxes": [{
                        "ticks": { "beginAtZero": true }
                    }]
                }
            }
        });
</script>