@{
    ViewBag.Title = "CanvasJS Charts";
}

<div class="jumbotron" style="padding-bottom:1%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-success"><b>CanvasJS Charts</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                <div>
                    <a class="btn btn-success btn-sm" href="https://canvasjs.com/" target="_blank">OFFICIAL SITE</a>
                    <a class="btn btn-danger btn-sm" href="https://canvasjs.com/license/" target="_blank">PRICE</a>
                </div>
                <p>
                    JavaScript Charts & Graphs with 10x better performance and a simple API. Integrates easily with popular JS Frameworks like AngularJS, etc. Library comes with 30 different types of charts including line, column, bar, area, spline, pie, doughnut, stacked charts, etc. It supports various interactive features like tooltips, zooming, panning, animation, events, drilldown, exporting and can easily be integrated with various server side technologies like PHP, Ruby, Python, ASP.Net, Node.JS, Java, etc. To top it all off, it can easily render thousands of data-points without any performance lag.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-danger">CanvasJS Chart Library</h3>
                <ul class="tree">
                    <li><a target="_blank" href="@Url.Action("ColumnChart","CanvasJsChart")">Column Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("LineChart","CanvasJsChart")">Line Chart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
